<% domain = Rails.application.secrets.dig(:forgotten_password_path, user_type) %>
<% path = "/password/edit?reset_password_token=#{@token}&locale=#{@resource.locale}" %>
<% url = "#{domain}#{path}" %>

<p><%= t('.welcome', resource_email: @resource.email) %></p>

<p><%= t('.text1') %></p>

<p><%= link_to t('.link_text'), url %></p>

<p><%= t('.text2') %></p>

<p><%= t('.text3') %></p>
